.marker {
	position: absolute;
	font-family: Almendra;
	font-size: 72px;
	font-weight: bold;
	transform: translate( -50%, -50% );
	pointer-events: none;

	&.pulse {
		animation: marker-pulse 0.7s ease-in-out infinite;
	}
}

@keyframes marker-pulse {
	0% { opacity: 1.0; }
	50% { opacity: 0.55; }
	100% { opacity: 1.0; }
}