{
  "Version": 2,
  "Cursors": {
    "Terry's Quest Cursor": {
      "Image": "cursor64.png",
      "Hotspot": "0,0"
    },
    "Terry's Quest Pointer": {
      "Image": "pointer64.png",
      "Hotspot": "0,0"
    },
    "hand": {
      "Image": "pointer64.png",
      "Hotspot": "0,0"
    },
    "arrow": {
      "Image": "cursor64.png",
      "Hotspot": "0,0"
    }
  },
  "__guid": "4bba0655-7dbb-4965-80c3-af263821576b",
  "__schema": "configdata",
  "__type": "CursorSettings",
  "__version": 2
}